<h1><%= @title %></h1>

<h3><%= @meetup.title %></h3></br>
<%= @meetup.description %></br>
<%= @meetup.location %></br>
<%= @meetup.address %></br>
<%= @meetup.city %></br>
<%= @meetup.state %></br>

<p><a href="/">Back to Meetups</a></p>
